@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.auth-background {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1166%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(20%2c 19%2c 17%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c654.049C118.389%2c622.26%2c161.55%2c477.622%2c260.091%2c404.709C349.19%2c338.782%2c477.476%2c336.272%2c546.583%2c249.616C623.363%2c153.339%2c671.746%2c27.758%2c658.326%2c-94.653C644.758%2c-218.412%2c568.772%2c-329.934%2c474.173%2c-410.874C386.327%2c-486.035%2c265.118%2c-492.559%2c154.394%2c-525.819C42.858%2c-559.323%2c-62.554%2c-620.724%2c-178.182%2c-606.834C-304.075%2c-591.711%2c-449.796%2c-554.766%2c-514.148%2c-445.511C-578.91%2c-335.559%2c-496.003%2c-198.585%2c-493.793%2c-70.997C-492.022%2c31.255%2c-521.961%2c129.074%2c-502.457%2c229.464C-478.502%2c352.762%2c-464.512%2c492.443%2c-368.574%2c573.512C-270.534%2c656.358%2c-123.965%2c687.335%2c0%2c654.049' fill='%230f0e0d'%3e%3c/path%3e%3cpath d='M1440 1035.251C1532.008 1027.268 1617.55 1003.8140000000001 1703.492 970.002 1809.106 928.45 1934.6979999999999 908.798 1999.04 815.3050000000001 2065.684 718.466 2089.181 582.1 2045.576 472.931 2003.025 366.402 1870.674 335.45799999999997 1779.546 265.782 1709.513 212.235 1651.127 149.44600000000003 1571.907 110.76600000000002 1479.398 65.59800000000001 1379.347-11.412000000000035 1282.325 23.009000000000015 1184.667 57.656000000000006 1177.5520000000001 195.483 1110.479 274.469 1044.3899999999999 352.296 910.524 380.76300000000003 893.098 481.367 875.737 581.593 985.2149999999999 655.876 1028.465 747.942 1071.092 838.683 1063.185 961.034 1145.3890000000001 1018.424 1227.709 1075.895 1339.979 1043.929 1440 1035.251' fill='%23191815'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1166'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
